---
import { contacts } from "db";

let brasaoHeaderSrc = import.meta.env.PUBLIC_DEFAULT_HEADER;
---

<footer class="footer place-content-around md:grid-rows-2 lg:grid-rows-1 p-10 bg-neutral text-xl text-zinc-200">
  <div>
    <img
      src={brasaoHeaderSrc}
      loading="lazy"
      class="max-w-xs"
      alt="brasao"
			height="269"
			width="320"
    />
  </div>
  <div>
    <span class="footer-title">Contactos</span>
    <p set:html={contacts.address}></p>
    <p>{contacts.email}</p>
    <p>{contacts.mobile}</p>
  </div>
  <div>
    <span class="footer-title">Social</span>
    <a class="link link-hover" href={contacts.facebook} target="_blank"
      >Facebook
    </a>
    <a class="link link-hover" href={contacts.instagram} target="_blank"
      >Instagram
    </a>
    <a class="link link-hover" href={contacts.spotify} target="_blank"
      >Spotify
    </a>
    <a class="link link-hover" href={contacts.youtube} target="_blank"
      >Youtube
    </a>
  </div>
  <div>
    <span class="footer-title">Ficheiros</span>
    <a
      class="link link-hover"
      href="/assets/files/estatutos-diario-da-republica-lite.pdf"
      target="_blank"
      >Estatuto Associativo
    </a>
    <a
      class="link link-hover"
      href="/assets/files/cancioneiro.pdf"
      target="_blank"
      >Cancioneiro
    </a>
    <a
      class="link link-hover"
      href="/assets/files/rider-tecnico.pdf"
      target="_blank"
      >Rider Técnico
    </a>
  </div>
</footer>
<footer
  class="footer px-10 py-4 border-t bg-neutral text-zinc-200 border-zinc-700"
>
  <div class="items-center grid-flow-col">
    <p>© Copyright Afonsina - Tuna de Engenharia da Universidade do Minho</p>
  </div>
</footer>
