---
import Afonsinos from "./about-blocks/Afonsinos.astro";
import CD from "./about-blocks/CD.astro";
import CB from "./about-blocks/CB.astro";
import Bebedeiras from "./about-blocks/Bebedeiras.astro";
import { cbs, cds, contacts, afonsinos, afonsinoFilters } from "db";
const lastCB =
  cbs.length > 0
    ? cbs[cbs.length - 1]!.imagem
    : "";
---

<!-- about ================================================== -->
<section id="about">
  <div class="hero min-h-screen bg-secondary/95">
    <div class="hero-content text-center">
      <div class="max-w-4xl">
        <h2 class="text-5xl font-bold">SOBRE A TUNA</h2>
        <h2 class="text-4xl md:text-6xl font-bold my-5 text-white">
          HISTÓRIA DA TUNA
        </h2>

        <div class="divider before:bg-white after:bg-white"></div>

        <p class="py-6 text-white text-left text-xl">
          A fundação da Afonsina - Tuna de Engenharia da Universidade do Minho,
          remonta a Março de 1994.<br />Descobre mais sobre a nossa história <a
            href="/historia"
            class="link"
          >
            aqui
          </a>
        </p>

        <div class="block sm:hidden md:block my-2">
          <div class="stats stats-vertical md:stats-horizontal shadow">
            <Bebedeiras />

            <Afonsinos afonsinos={afonsinos} afonsinoFilters={afonsinoFilters} />

            <CB lastCB={lastCB} cbs={cbs} />

            <CD cds={cds} spotify={contacts.spotify} />
          </div>
        </div>

        <div class="hidden sm:block md:hidden py-2">
          <div class="stats shadow my-2">
            <Bebedeiras />

            <Afonsinos afonsinos={afonsinos} afonsinoFilters={afonsinoFilters} />
          </div>
          <div class="stats shadow my-2">
            <CB lastCB={lastCB} cbs={cbs} />

            <CD cds={cds} spotify={contacts.spotify} />
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
