---
import Footer from "@/components/Footer.astro";
import Header from "@/components/menu/Header.svelte";
import Background from "@/components/Background.svelte";
import { page, navigation } from "db";
import type { Navigation } from "db";

export interface Props {
  preloadImage?: string[];
	prefetchImage?: string[];
}
const { preloadImage = [], prefetchImage = [] } = Astro.props;

const title: string = page.title;
const description: string = page.description;
const author: string = page.author;
const defaultImage: string = import.meta.env.PUBLIC_DEFAULT_IMAGE
const backgroundImage: string = import.meta.env.PUBLIC_DEFAULT_BACKGROUND
const headerImage: string = import.meta.env.PUBLIC_DEFAULT_HEADER
const footerImage: string = import.meta.env.PUBLIC_DEFAULT_FOOTER
---

<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="author" content={author} />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="preload" href={defaultImage} as="image">
		<link rel="preload" href={backgroundImage} as="image">
		<link rel="preload" href={headerImage} as="image">
		<link rel="preload" href={footerImage} as="image">
		{preloadImage.map((item: string) => (
			<link rel="preload" href={item} as="image">
		))}
		{navigation.map((item: Navigation) => (
			Astro.url.pathname !== item.link && <link rel="prefetch" href={item.link}>
		))}
		{prefetchImage.map((item: string) => (
			<link rel="prefetch" href={item} as="image">
		))}
	</head>

	<body>
		<div class="fixed z-[-1]">
			<Background />
		</div>
		<Header client:load navigation={navigation} />
		<slot />
		<Footer />
		<style lang="scss">
			@font-face {
				font-family: "Arimo";
				font-style: normal;
				font-weight: 600;
				font-display: swap;
				src: url("/assets/fonts/arimo/arimo-v27-latin-600.eot"); /* IE9 Compat Modes */
				src: local(""),
					url("/assets/fonts/arimo/arimo-v27-latin-600.eot?#iefix")
						format("embedded-opentype"),
					/* IE6-IE8 */ url("/assets/fonts/arimo/arimo-v27-latin-600.woff2")
						format("woff2"),
					/* Super Modern Browsers */
						url("/assets/fonts/arimo/arimo-v27-latin-600.woff") format("woff"),
					/* Modern Browsers */
						url("/assets/fonts/arimo/arimo-v27-latin-600.ttf")
						format("truetype"),
					/* Safari, Android, iOS */
						url("/assets/fonts/arimo/arimo-v27-latin-600.svg#Arimo")
						format("svg"); /* Legacy iOS */
			}

			body {
				font-family: "Arimo", sans-serif;
				font-style: normal;
				font-weight: normal;
			}
		</style>
	</body>
</html>
